{% extends 'base.html.twig' %}

{% block body %}

<h1> Create an account ! </h1>

{{ form_start(form) }}
{{ form_row(form.username, {'label': 'Username' ,'attr': {'placeholder': 'username'}}) }}
{{ form_row(form.email, {'label': 'Email Address' ,'attr': {'placeholder': 'Email Address'}}) }}
{{ form_row(form.password, {'label': 'Password' ,'attr': {'placeholder': 'Password'}}) }}
{{ form_row(form.confirm_password, {'label': 'Confirm Password' ,'attr': {'placeholder': 'Confirm your Password'}}) }}
<button type = "submit" class = "btn btn-success"> Register ! </button> 
{{ form_end(form) }}

{% endblock %}